# ----------------------------
# Auto-detect text files
# ----------------------------
* text=auto

# Syntax-aware diffs
*.blade.php diff=php
*.css diff=css
*.scss diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# ----------------------------
# Highlight Backend code
# ----------------------------
app/** linguist-language=PHP
database/** linguist-language=PHP
routes/** linguist-language=PHP
resources/views/**/*.blade.php linguist-language=PHP
config/** linguist-language=PHP
artisan linguist-language=PHP
composer.json linguist-language=PHP
composer.lock linguist-language=PHP

# ----------------------------
# Keep frontend files counted
# ----------------------------
resources/js/** linguist-language=JavaScript
resources/css/** linguist-language=CSS
resources/scss/** linguist-language=SCSS

# ----------------------------
# Ignore vendor files only
# ----------------------------
node_modules/** linguist-vendored
vendor/** linguist-vendored
.env linguist-vendored
.env.example linguist-vendored

# ----------------------------
# Ignore files from exports
# ----------------------------
/.github export-ignore
CHANGELOG.md export-ignore
