# ----------------------------
# Auto-detect text files
# ----------------------------
* text=auto

# Syntax-aware diffs
*.blade.php diff=html
*.css diff=css
*.scss diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# ----------------------------
# Highlight Backend code
# ----------------------------
app/** linguist-language=PHP
database/** linguist-language=PHP
routes/** linguist-language=PHP
resources/views/**/*.blade.php linguist-language=PHP
config/** linguist-language=PHP
artisan linguist-language=PHP
composer.json linguist-language=PHP
composer.lock linguist-language=PHP

# ----------------------------
# Ignore frontend/vendor files for language stats
# ----------------------------
public/assets/** linguist-vendored
resources/js/** linguist-vendored
resources/css/** linguist-vendored
node_modules/** linguist-vendored
vendor/** linguist-vendored
.env linguist-vendored
.env.example linguist-vendored

# ----------------------------
# Ignore files from exports
# ----------------------------
/.github export-ignore
CHANGELOG.md export-ignore
